---
const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#1e2122]">
		<nav class="flex flex-row absolute top-2 right-2 gap-2">
			<a href="/" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-full text-sm px-5 py-2.5 text-center">Search</a>
			<a href="/status" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-full text-sm px-5 py-2.5 text-center">Status</a>
		</nav>
		<div class="flex flex-col min-h-screen justify-center items-center pt-10">
			<div class="w-4/5 sm:w-1/2 lg:w-1/2 xl:w-8/12 py-5">
				<slot />
			</div>
		</div>
	</body>
</html>
